.ctaButton {
    
    display: block;
    
    /* text-align: center;     */
    
}
.ctaButton a {
    background: #58B5D7;
    border-radius: 4px;    
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center; 
    text-transform: uppercase;
}
.ctaButton a:link, 
.ctaButton a:visited {
    color: #fff;
    text-decoration: none;
}
.ctaButton a:hover {
    background: #6dbedc;
}