.cardCont {
  align-items: grid-start;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 1rem;
}
.card {
  overflow: hidden;
  width: 250px;
}
.cardContent {
  background: #fff;
  padding: 1rem;
}
.cardImage {
  margin: 0;
}

.linkRow {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin: 0 0 3rem;
  padding: 15px;
}
.linkHeading a {
  color: #363636;
}
.btn {
  border: 1px solid #dee8fa;
  border-radius: 4px;
  color: #3273dc;
  display: block;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}
.eventsColInner:empty {
  display: none;
}
