.heroCont {
    justify-content: center;
}
.heroText {
    align-content: center;
    background: rgba(89,78,74,0.9);
    border-radius: 4px;
    color: #fff;
    display: flex;    
    font-size: 1.7rem;    
    font-weight: bold;
    max-width: 672px;
    padding: 20px;
    text-align: center;
}
.heroText:empty {
    display: none;
}