.navbarTop {
  background: #9a563f !important;
}

/* .navbarTop div div > a {color: #fff;} */
/* .navbarItem > a {color: #3273dc !important;} */
/* .navbarItem.hasDropdown:hover a {
    color: #4a4a4a;
} */
/* a.navbarItemParent, a.navItem {
  color: #fff;
} */
.navbarArrow::after {
  border-color: #fff !important;
}
.navbarLogo {
  left: 5px;
  position: absolute;
  top: 0;
  width: 70px;
}

@media only screen and (min-width: 768px) {
  .navContainer {
    padding-left: 95px;
  }
  .navbarLogo {
    left: -60px; /* TODO needs changing for mobile */
    width: 135px;
    
  }
  
}


.navbarBurger {
  color: #fff !important;
}