.cardCont {
    align-items: grid-start;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-gap: 1rem;    
}
.card {width: 250px;}
.cardContent {background: #fff; padding: 1rem;}
.cardImage {margin: 0;}

.linkRow {    
    margin: 0 0 3rem;
}
.linkHeading a {
    color: #363636;
}