.featuredProjects, .featuredProjects li {list-style-type: none; margin: 0; padding: 0;}
.featuredProjectsCont {    
    display: flex;
    justify-content: center;
    left: 50%;
    margin: 0 -50vw 30px;
    position: relative;
    right: 50%;
    width: 100vw;
}
.featuredProjects {
    background: rgba(196,132,73, 0.9); font-size: 18px; margin-bottom: 30px; max-width: 1368px; overflow: hidden; width: 100%;
}
.featuredProjects {
 display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));   
}
.featuredProjects li {}
aside .featuredProjects li {
    display: block; width: 100%;
}
.featuredProjects a, .featuredProjects span {border-right: 1px solid #9e6b3b; border-bottom: 1px solid #9e6b3b; display: block; font-weight: bold; font-size: 0.8em; padding: 8px 0; text-align: center; text-decoration: none;}
.featuredProjects a {color: #fff;}
.featuredProjects .active a {background: #fff; color: #494949;}

@media only screen and (min-width: 1020px) {
    .featuredProjectsCont {
        margin-top: -2.5rem;
    }    
}