.teamList {
  align-items: flex-start;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1rem;
  justify-content: flex-start;
}
.teamList,
.teamList li {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}
.teamList {
  padding: 15px;
}
.teamList li h4 {
  margin-bottom: 0;
}
.teamPhoto {
  border-radius: 50%;
  max-width: 150px;
}
.teamPhoto img {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}
.contentBox {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin: 2rem 0 0;
  padding: 15px;
}
div + h2 + .teamList {
  margin-bottom: 2rem !important;
}
